<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happ">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/happ_icon"
        android:label= "@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controllers.FeedActivity">
        </activity>
        <activity
            android:name=".controllers.EventActivity"
            android:label="Event Activity"
            />

        <activity
            android:name=".controllers.EditActivity"
            android:label="Edit Activity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".controllers.UserActivity"
            android:label="@string/user_settings"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity android:name=".controllers.PrivacyPolicyActivity"
            android:label="@string/privacy_policy"/>

        <activity android:name=".controllers.OrganizerRulesActivity"
            android:label="@string/organizer_rules"/>


        <activity
            android:name=".controllers.CityActivity"
            android:label="Edit Activity"
            />
        <activity android:name=".controllers.SettingsActivity"
            android:label="Settings"/>

        <activity
            android:name=".controllers.SelectInterestsActivity"
            android:label="Select Interests">
        </activity>

        <activity
            android:name=".controllers.SplashScreen"
            android:theme="@style/SplashTheme">

        </activity>
        <activity
            android:name=".controllers.RegistrationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".controllers.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name=".controllers.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controllers.OrganizerModeActivity" />

        <service
            android:name=".retrofit.APIService"
            android:exported="false" >
        </service>
    </application>

</manifest>