<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happ" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/happ_icon_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.happ.ImageLoadGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers_drawer.FeedActivity" >
        </activity>
        <activity android:name=".controllers_drawer.EventActivity" />
        <activity
            android:name=".controllers.EditCreateActivity"
            android:label="Edit Activity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".controllers.UserActivity"
            android:label="@string/user_settings"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".controllers.PasswordRecoveActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".controllers_drawer.ConfirmEmailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".controllers.PrivacyPolicyActivity"
            android:label="@string/privacy_policy" />

        <activity
            android:name=".controllers.OrganizerRulesActivity"
            android:label="@string/organizer_rules" />

        <activity android:name=".controllers.CityActivity" />

        <activity
            android:name=".controllers_drawer.SettingsActivity"
            android:label="Settings" />

        <activity
            android:name=".controllers_drawer.SelectInterestsActivity"
            android:label="Select Interests" >
        </activity>

        <activity
            android:name=".controllers.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controllers.RegistrationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <activity
            android:name=".controllers.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <activity android:name=".controllers.WelcomeActivity" >
            <!--welcome activity-->
        </activity>

        <activity android:name=".controllers.EventMapActivity"/>

        <activity android:name=".controllers_drawer.OrganizerModeActivity" />

        <service
            android:name=".retrofit.APIService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDu36j6SwjsbVGTPu8kMwxr6QnG6hJKAYM" />

    </application>

</manifest>